<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Manage Updated</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil pariatur incidunt consequuntur inventore eos corporis doloremque, nisi expedita dolores veritatis sit similique neque distinctio odio sequi quasi sint a ipsam?</p>

    </div>
</div>