<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, dolores debitis quisquam perferendis, quo molestiae consequatur nulla voluptates deserunt totam beatae facere, porro reprehenderit. Rerum reprehenderit nulla distinctio aperiam sit.</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Samreach Yan</h3>
                <p class="quote__organization">Sak Code Team</p>
            </div>
        </div>
    </footer>
</blockquote>